---
layout: default
title: What To Expect
description: ViewPoint Claims
keywords: Claims
---

<main class="main">
  <div class="main-inner">
    {% include mob_menu.html %} {% include header.html %}

    <!-- Begin bread crumbs -->
    <nav class="bread-crumbs">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="bread-crumbs-list">
              <li>
                <a href="index.html">Home</a>
                <i class="material-icons md-18">chevron_right</i>
              </li>
              <li><a href="#!">What To Expect</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- End bread crumbs -->

    <section class="section section-bgc">
      <div class="container">
        <div class="row items">
          <div class="col-12">
            <div class="section-heading heading-center">
              <h2>What To Expect - When working with Viewpoint claims solutions?</h2>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 item">
            <div class="ini">
              <div class="ini-count">01</div>
              <div class="ini-info">
                <h4 class="ini-heading item-heading-large">
                  Integrity
                </h4>
                <div class="ini-desc">
                  <p>
                    Viewpoint firmly believes in the process of supplementing, and the proper and ethical handling of homeowners insurance. We are in business to ensure the claims process is fair for all parties involved while maintaining the highest level of accountability for what it's owed to the homeowners. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 item">
            <div class="ini">
              <div class="ini-count">02</div>
              <div class="ini-info">
                <h4 class="ini-heading item-heading-large">
                  Your best interest
                </h4>
                <div class="ini-desc">
                  <p>
                    Our goal at Viewpoint is to treat all of your projects with diligence, and by putting each of your claims under a microscope we can professionally advocate on your behalf to ensure your company gets the payout it deserves.  

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 item">
            <div class="ini">
              <div class="ini-count">03</div>
              <div class="ini-info">
                <h4 class="ini-heading item-heading-large">
                  Added value to your claims
                </h4>
                <div class="ini-desc">
                  <p>
                    Our supplementing experts are xactimate certified and have the knowledge to effectively supplement each claim so they reach their fullest potential. Our specific process has an average claim increase of ____ . Savvy contractors know that penny pinching adds up, and proper supplementing is a crucial part to your bottom line.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 item">
            <div class="ini">
              <div class="ini-count">04</div>
              <div class="ini-info">
                <h4 class="ini-heading item-heading-large">
                  No risk to you
                </h4>
                <div class="ini-desc">
                  <p>
                    At Viewpoint we dont believe in hidden costs and  have confidence in our specific and diligent process, so guarantee to add value to your claim. Which means no risk to you as a contractor, and you only have to pay us, if we make your company money.  
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 item">
            <div class="ini">
              <div class="ini-count">05</div>
              <div class="ini-info">
                <h4 class="ini-heading item-heading-large">
                  Quality Service
                </h4>
                <div class="ini-desc">
                  <p>
                    Viewpoint is run by previous roofing contractors that knows the daily struggles your company may come across, and therefore we understand how to overcome them. With over 10 years of combined experience in the industry, Viewpoint can confidently vow to deliver a fast and industry leading service.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>
  {% include footer.html %} {%include imports/callback_popup.html %} {%include
  imports/cookie_message.html %}
</main>
<!-- End main -->
