<section class="section section-bgc">
  <div class="container">
    <div class="row items">
      <div class="col-12">
        <div class="section-heading heading-center">
          <div class="section-subheading">some reasons</div>
          <h2>Why Choose Us</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">01</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              High Quality Hardware
            </h4>
            <div class="ini-desc">
              <p>
                We use top-notch hardware to develop the most efficient apps for
                our customers
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">02</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              Dedicated 24\7 Support
            </h4>
            <div class="ini-desc">
              <p>
                You can rely on our 24/7 tech support that will gladly solve any
                app issue you may have.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">03</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              30-Day Money-back Guarantee
            </h4>
            <div class="ini-desc">
              <p>
                If you are not satisfied with our apps, we will return your
                money in the first 30 days.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">04</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              Agile and Fast Working Style
            </h4>
            <div class="ini-desc">
              <p>
                This type of approach to our work helps our specialists to
                quickly develop better apps.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">05</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              Some Apps <br />
              are Free
            </h4>
            <div class="ini-desc">
              <p>
                We also develop free apps that can be downloaded online without
                any payments.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <div class="ini">
          <div class="ini-count">06</div>
          <div class="ini-info">
            <h4 class="ini-heading item-heading-large">
              High Level of Usability
            </h4>
            <div class="ini-desc">
              <p>
                All our products have high usability allowing users to easily
                operate the apps.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
