<div class="section">
  <div class="container">
    <div class="row content-items">
      <div class="col-12">
        <div class="section-heading">
          <div class="section-subheading">we are always in touch</div>
          <h1>Contact Us</h1>
        </div>
      </div>
      <div class="col-xl-4 col-md-5 content-item">
        <div class="contact-info section-bgc">
          <h3>Get in Touch</h3>
          <ul class="contact-list">
            <li>
              <i class="material-icons md-22">location_on</i>
              <div class="footer-contact-info">
                <a
                  href="#"
                >
                  10799 W Alameda Ave. <br>
                  PO BOX 260793, <br>
                  Lakewood Colorado, 80226
                </a>
              </div>
            </li>
            <li>
              <i class="material-icons md-22 footer-contact-tel">smartphone</i>
              <div class="footer-contact-info">
                <a href="tel:+13034357771" class="formingHrefTel"
                  >+1 303-435-77-71</a
                >
              </div>
            </li>
            <li>
              <i class="material-icons md-22 footer-contact-email">email</i>
              <div class="footer-contact-info">
                <a href="mailto:customerservice@ViewPointClaims.com">customerservice@ViewPointClaims.com</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-8 col-md-7 content-item">
        <form
          action="#!"
          method="post"
          class="contact-form contact-form-padding"
        >
          <!-- Begin hidden Field for send form -->
          <input type="hidden" name="form_subject" value="Contact form" />
          <!-- End hidden Field for send form -->
          <div class="row gutters-default">
            <div class="col-12">
              <h3>Contact Form</h3>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="form-field">
                <label for="contact-name" class="form-field-label"
                  >Your Name</label
                >
                <input
                  type="text"
                  class="form-field-input"
                  name="ContactName"
                  value=""
                  autocomplete="off"
                  required="required"
                  id="contact-name"
                />
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="form-field">
                <label for="contact-phone" class="form-field-label"
                  >Your Phone</label
                >
                <input
                  type="tel"
                  class="form-field-input mask-phone"
                  name="ContactPhone"
                  value=""
                  autocomplete="off"
                  required="required"
                  id="contact-phone"
                />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-field">
                <label for="contact-email" class="form-field-label"
                  >Your Email</label
                >
                <input
                  type="email"
                  class="form-field-input"
                  name="ContactEmail"
                  value=""
                  autocomplete="off"
                  required="required"
                  id="contact-email"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-field">
                <label for="contact-message" class="form-field-label"
                  >Your Message</label
                >
                <textarea
                  name="ContactMessage"
                  class="form-field-input"
                  id="contact-message"
                  cols="30"
                  rows="6"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-btn">
                <button type="submit" class="btn btn-w240 ripple">
                  <span>Send Message</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>