<!-- Begin footer -->
<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="row items">
        <div class="col-xl-3 col-lg-3 col-md-5 col-12 item">
          <!-- Begin company info -->
          <div class="footer-company-info">
            <div class="footer-company-top">
              <a href="/" class="logo" title="ViewPoint">
                <img style="max-height: 5.4rem;" src="/assets/img/claims-done-right.svg" alt="ViewPoint" />
              </a>
              <div class="footer-company-desc">
                <p>
                  As supplement specialists, we strive to increase contractors
                  profits on every job completed.
                </p>
              </div>
            </div>
            <ul class="footer-social-links">
              {% include social_links.html %}
            </ul>
          </div>
          <!-- End company info -->
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item"></div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-7 item">
          <div class="footer-item">
            <h4 class="footer-item-heading">Menu</h4>
            <nav class="footer-nav">
              <ul class="footer-mnu">
                <li>
                  <a href="about.html" class="hover-link" data-title="About Us"
                    ><span>About Us</span></a
                  >
                </li>
                <li>
                  <a
                    href="what-to-expect.html"
                    class="hover-link"
                    data-title="Services"
                    ><span>What To Expect</span></a
                  >
                </li>
                <li>
                  <a
                    href="services.html"
                    class="hover-link"
                    data-title="Services"
                    ><span>Services</span></a
                  >
                </li>
                <li>
                  <a href="faq.html" class="hover-link" data-title="Services"
                    ><span>FAQ</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4 col-12 item">
          <div class="footer-item">
            <h4 class="footer-item-heading">Our contacts</h4>
            <ul class="footer-contacts">
              <li>
                <i class="material-icons md-22">location_on</i>
                <div class="footer-contact-info">
                  10799 W Alameda Ave. <br>
                  PO BOX 260793, <br>
                  Lakewood Colorado, 80226
                </div>
              </li>
              <li>
                <i class="material-icons md-22 footer-contact-tel"
                  >smartphone</i
                >
                <div class="footer-contact-info">
                  <a href="tel:+13034357771" class="formingHrefTel">+1 (303) 435-7771</a>,
                </div>
              </li>
              <li>
                <i class="material-icons md-22 footer-contact-email">email</i>
                <div class="footer-contact-info">
                  <a href="mailto:customerservice@ViewPointClaims.com">customerservice@ViewPointClaims.com</a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-between items">
        <div class="col-md-auto col-12 item">
          <nav class="footer-links">
            <ul>
              <li>
                <a href="terms-and-conditions.html">Terms and Conditions</a>
              </li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-auto col-12 item">
          <div class="copyright">© 2021 ViewPoint. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->
