<li class="d-block d-lg-none">
  <div class="header-navbar">
    <div class="header-navbar-btn">
      <i class="material-icons md-24">more_vert</i>
    </div>
    <ul class="header-navbar-content">
      <li>
        <a href="mailto:customerservice@ViewPointClaims.com">
          <i class="material-icons md-20">support_agent</i>
          <span>customerservice@ViewPointClaims.com</span>
        </a>
      </li>
      <li>
        <!-- Begin social links -->
        <ul class="social-links">
          <li>
            <a href="#!" title="Facebook">
              <svg viewBox="0 0 320 512">
                <use xlink:href="/assets/img/sprite.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#!" title="Instagram">
              <svg viewBox="0 0 448 512">
                <use xlink:href="/assets/img/sprite.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#!" title="LinkedIn">
              <svg viewBox="0 0 448 512">
                <use xlink:href="/assets/img/sprite.svg#linkedin-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#!" title="Twitter">
              <svg viewBox="0 0 512 512">
                <use xlink:href="/assets/img/sprite.svg#twitter-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- End social links -->
      </li>
    </ul>
  </div>
</li>
