<header class="header">
  <!-- Begin header top -->
  <nav class="header-top">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <!-- Begin header top info -->
          <ul class="header-top-info">
            <li>
              <a href="mailto:customerservice@ViewPointClaims.com">
                <i class="material-icons md-18">mail_outline</i>
                <span>customerservice@ViewPointClaims.com</span>
              </a>
            </li>
            <li>
              <a href="tel:+13034357771" class="formingHrefTel">
                <i class="material-icons md-18">phone_in_talk</i>
                <span>+1 (303) 435-7771</span>
              </a>
            </li>
          </ul>
          <!-- Ennd header top info -->
        </div>
        <div class="col-auto">
          <div class="header-top-links">
            <!-- Begin social links -->
            <ul class="social-links">
              {% include social_links.html %}
            </ul>
            <!-- End social links -->
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End header top -->
  <!-- Begin header fixed -->
  <nav class="header-fixed">
    <div class="container">
      <div class="row flex-nowrap align-items-center justify-content-between">
        <div class="col-auto d-block d-lg-none header-fixed-col">
          <div class="main-mnu-btn">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
            <span class="bar bar-3"></span>
            <span class="bar bar-4"></span>
          </div>
        </div>
        <div class="col-auto header-fixed-col">
          <!-- Begin logo -->
          <a href="/" class="logo" title="ViewPoint">
            <img src="/assets/img/logo.png" alt="ViewPoint" /> </a
          ><!-- End logo -->
        </div>
        <div class="col-lg col-auto col-static header-fixed-col">
          <div class="row flex-nowrap align-items-center justify-content-end">
            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
              <!-- Begin main menu -->
              {% include main_menu.html %}
              <!-- End main menu -->
            </div>
            <div class="col-auto header-fixed-col col-static">
              <!-- Begin header actions -->
              <ul class="header-actions">
                <!-- Begin header navbar -->
                  {% include header_mob_nav.html %}
                <!-- End header navbar -->
              </ul>
              <!-- End header actions -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End header fixed -->
</header>
