<li class="d-block d-lg-none">
  <div class="header-navbar">
    <div class="header-navbar-btn">
      <i class="material-icons md-24">more_vert</i>
    </div>
    <ul class="header-navbar-content">
      <li>
        <a href="mailto:customerservice@ViewPointClaims.com">
          <i class="material-icons md-20">support_agent</i>
          <span>customerservice@ViewPointClaims.com</span>
        </a>
      </li>
      <li>
        <!-- Begin social links -->
        <ul class="social-links">
          {% include social_links.html %}
        </ul>
        <!-- End social links -->
      </li>
    </ul>
  </div>
</li>
