<div class="section-bgc intro">
  <div
    class="intro-slider flickity-dots-absolute"
    data-flickity='{ "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": false }'
  >
    <div
      class="intro-item"
      data-flickity-bg-lazyload="assets/img/intro-img1.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="intro-content">
              <div class="section-heading shm-none">
                <div class="section-subheading">
                  Adding value to your claims
                </div>
                <h2>Get the payout you deserve</h2>
                <p class="section-desc">
                  As supplement specialists, we strive to increase contractors
                  profits on every job completed. At Viewpoint we believe the
                  small changes can make a big difference, and it all adds up to
                  a profitable year. By looking at each of your claims under a
                  microscope, we ensure roofing contractors get the payout they
                  deserve on every job completed
                </p>
              </div>
              <div class="wrap-btn intro-btns">
                <a href="contact-us.html" class="btn btn-with-icon btn-small ripple">
                  <span>Get in Touch</span>
                  <svg
                    class="btn-icon-right"
                    viewBox="0 0 13 9"
                    width="13"
                    height="9"
                  >
                    <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
