<nav class="main-mnu">
  <ul class="main-mnu-list">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="about.html">About Us</a>
    </li>
    <li>
      <a href="what-to-expect.html">What To Expect</a>
    </li>
    <li class="menu-item-has-children">
      <a href="services.html" data-title="Services">
        <span>Services</span>
        <i class="material-icons">expand_more</i>
      </a>
      <ul>
        <li>
          <a href="services.html" data-title="Services 1"
            ><span>Services 1</span></a
          >
        </li>
        <li>
          <a href="services-2.html" data-title="Services 2"
            ><span>Services 2</span></a
          >
        </li>
        <li>
          <a href="services-3.html" data-title="Services 3"
            ><span>Services 3</span></a
          >
        </li>
        <li>
          <a href="single-services.html" data-title="Single service"
            ><span>Single service</span></a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="faq.html">FAQ</a>
    </li>
  </ul>
</nav>
