<nav class="mob-main-mnu">
  <div class="mob-main-mnu-content">
    <ul class="mob-main-mnu-list">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="about.html">About Us</a>
      </li>
      <li>
        <a href="what-to-expect.html">What To Expect</a>
      </li>
      <li>
        <a href="services.html">Services</a>
      </li>  
      <li>
        <a href="faq.html">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="mob-main-mnu-footer">
    <ul class="mob-main-mnu-lang">
      <li class="active">
        <a href="#!"><span>En</span></a>
      </li>
      <li>
        <a href="#!"><span>Sp</span></a>
      </li>
      <li>
        <a href="#!"><span>It</span></a>
      </li>
      <li>
        <a href="#!"><span>Uk</span></a>
      </li>
      <li>
        <a href="#!"><span>Ru</span></a>
      </li>
    </ul>
  </div>
</nav>
