<section class="section services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading heading-center">
          <h2>Our Services</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <a href="single-services.html" class="iitem item-style">
          <div class="iitem-icon">
            <i class="material-icons material-icons-outlined md-48"
              >corporate_fare</i
            >
          </div>
          <div class="iitem-icon-bg">
            <i class="material-icons material-icons-outlined">corporate_fare</i>
          </div>
          <h4 class="iitem-heading item-heading-large">Xactimate Estimate</h4>
          <div class="iitem-desc">
            Xactimate is a claims estimating system software widely used by
            insurance companies and adjusters across the nation. Xactimate plays
            a critical role in the performance of any restoration business, and
            therefore requires a significant amount of time and resources to
            take full advantage of it. Viewpoint supplementers are xactimate
            certified and have the necessary knowledge to provide insurance
            carriers with enough detail on overlooked or unknown line items.
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 item">
        <a href="single-services.html" class="iitem item-style">
          <div class="iitem-icon">
            <i class="material-icons material-icons-outlined md-48"
              >support_agent</i
            >
          </div>
          <div class="iitem-icon-bg">
            <i class="material-icons material-icons-outlined">support_agent</i>
          </div>
          <h4 class="iitem-heading item-heading-large">
            Estimate + Roofing Supplement
          </h4>
          <div class="iitem-desc">
            Supplementing an insurance claim is a great way to ensure a fair
            re-roofing process in which the contractor gets paid what he/she
            deserves and the homeowner can be rest assured that the insurance
            policy will provide the necessary funds to get the job done right.
            At Viewpoint we advocate on your behalf to ensure the scope of loss
            includes the correct amount of material, quantity, labor, code items
            specific to your region. etc.
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12 col-12 item">
        <a href="single-services.html" class="iitem item-style">
          <div class="iitem-icon">
            <i class="material-icons material-icons-outlined md-48"
              >cloud_download</i
            >
          </div>
          <div class="iitem-icon-bg">
            <i class="material-icons material-icons-outlined">cloud_download</i>
          </div>
          <h4 class="iitem-heading item-heading-large">
            Commercial Roofing Supplement
          </h4>
          <div class="iitem-desc">
            When it comes to commercial roofing, there are several factors
            differentiating it from residential jobs. Viewpoint understands the
            installation process of flat roofing and will help you utilize a
            large insurance scope of work to reach the highest potential.
          </div>
        </a>
      </div>
      <div class="col-12">
        <div class="section-btns justify-content-center">
          <a href="contact-us.html" class="btn btn-with-icon btn-w240 ripple">
            <span>Contact Us</span>
            <svg
              class="btn-icon-right"
              viewBox="0 0 13 9"
              width="13"
              height="9"
            >
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
