<li>
  <a href="#!" title="Facebook">
    <svg viewBox="0 0 320 512">
      <use xlink:href="/assets/img/sprite.svg#facebook-icon"></use>
    </svg>
  </a>
</li>
<li>
  <a href="#!" title="Instagram">
    <svg viewBox="0 0 448 512">
      <use xlink:href="/assets/img/sprite.svg#instagram-icon"></use>
    </svg>
  </a>
</li>
<li>
  <a href="#!" title="LinkedIn">
    <svg viewBox="0 0 448 512">
      <use xlink:href="/assets/img/sprite.svg#linkedin-icon"></use>
    </svg>
  </a>
</li>
<li>
  <a href="#!" title="Twitter">
    <svg viewBox="0 0 512 512">
      <use xlink:href="/assets/img/sprite.svg#twitter-icon"></use>
    </svg>
  </a>
</li>
