      <!-- Begin cookie message -->
      <div class="cookie-message">
        <div class="cm-content">
          <h5 class="cmc-title">Cookies</h5>
          <p class="cmc-desc">
            We use cookies to understand how you use our site, to personalize
            content and to improve your experience. By continuing to use our
            site, you accept our use of cookies and revised.
            <a href="privacy-policy.html">Privacy Policy</a>
          </p>
        </div>
        <div class="mc-btn btn btn-with-icon btn-small ripple">
          <span>Accept cookies</span>
          <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
            <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
      <!-- End cookie message -->