<head>
  <meta charset="utf-8" />

  <title>ViewPointClaims - Claiming Solutions for You Business</title>

  <meta name="description" content="Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=2"
  />

  <link rel="icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/assets/css/libs.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link
    rel="preload"
    href="/assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <link
    rel="preload"
    href="/assets/fonts/material-icons/material-icons.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/material-icons/material-icons-outlined.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
</head>
