<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/lozad/lozad.min.js"></script>
<script src="/assets/libs/device/device.js"></script>
<script src="/assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script src="/assets/libs/spincrement/jquery.spincrement.min.js"></script>
<script src="/assets/libs/jquery-popup-overlay-gh-pages/jquery.popupoverlay.js"></script>
<script src="/assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
<script src="/assets/libs/autosize-master/autosize.min.js"></script>
<script src="/assets/libs/flickity/flickity.pkgd.min.js"></script>
<script src="/assets/libs/flickity/flickity-imagesloaded.js"></script>
<script src="/assets/libs/flickity/bg-lazyload.js"></script>
<script src="/assets/libs/flickity/flickity-fade.js"></script>
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>
<script src="/assets/libs/lightGallery/js/picturefill.min.js"></script>
<script src="/assets/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="/assets/libs/lightGallery/js/jquery.mousewheel.min.js"></script>
<script src="/assets/libs/jquery-ui-range/jquery-ui.min.js"></script>
<script src="/assets/js/custom.js"></script>